[Unit]
Description=Firewalla FRP Service
After=network.target

[Service]
User=pi
Restart=always
WorkingDirectory=/home/pi/firewalla/extension/frp
ExecStart=/bin/sh -c 'FRPC_COMMAND -c FRPC_CONF 2>&1 >> /home/pi/.forever/SERVICE_NAME'
[Install]
WantedBy=multi-user.target

